<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Body Measurement App</a>
  
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a routerLink='/login' routerLinkActive='active'>
                <button type="button" class="btn btn-primary mr-2" *ngIf = !isUserLoggedIn() >Login</button> 
            </a>
            </li>
            <li class="nav-item">
               <a routerLink='/register' routerLinkActive='active'> 
                <button type="button" class="btn btn-primary ml-2 " *ngIf= !isUserLoggedIn()>Register</button> 
            </a>
            </li>
            <li class="nav-item">
               <a >
                <button type="button" class="btn btn-link" *ngIf = isUserLoggedIn()>Hi, {{currUser}}</button>
               </a> 
            </li>
            <li class="nav-item">
               <a routerLink='/' routerLinkActive='active'>
                <button type="button" class="btn btn-primary ml-2" *ngIf = isUserLoggedIn() (click)=logoutClick() >Logout</button>
               </a> 
            </li>   
        </ul>
    </div>
  </nav>
  
