<div class="m-5">

<form>
    <div class="form-row">
      <div class = "form-group col-md-6">
        <label for="inputFName">First Name</label>
        <input [(ngModel)] = "fname" name ="firstName" type="text"   class="form-control" id="inputFName" placeholder="First Name"> {{fname}}
      </div>
      <div class = "form-group col-md-6">
          <label for="inputLName">Last Name</label>
          <input [(ngModel)] = "lname" type="text" name = "lastName" class="form-control" id="inputLName" placeholder="Last Name"> {{lname}}
        </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input [(ngModel)] = "email" type="email" name = "emailId" class="form-control" id="inputEmail4" placeholder="Email"> {{email}}
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input [(ngModel)] = "password" type="password" name = "passwordField" class="form-control" id="inputPassword4" placeholder="Password">
        {{password}}
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input [(ngModel)] = "address" name = "addressField"type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      {{address}}
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input [(ngModel)] = "address2" name = "address2Field" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      {{address2}}
    </div>
    
    
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>